.incription,
.connexion {
    margin-top: 8%;
    width: 50%;
}

.formInscription,
.formConnexion {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.submit {
    width: 100%;
}

.grayscale {
    margin-top: 1000px;
}

.flex {
    display: flex;
    flex-direction: row;
}

.box {
    display: grid;
    width: 540px;
    grid-template-columns: 350px 350px 350px;
    align-items: center;
    justify-content: space-between;
    margin-top: 4%;
    margin-bottom: 3%;
    margin-left: 230px;
    text-align: center;
}

.border {
    border-radius: 10px;
}

.center {
    text-align: center;
    margin-top: 7%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    margin-bottom: 4%;
}